body{
	background: green;
}
/*các màn hình có kích thước nhỏ hơn 600*/
@media screen and (max-width: 600px){
	 
  
.container{
	width: 100%;
	 
	margin: auto;	
}
.container .header{
	height: 150px;
	background: var(--bg);
}
.container .Content .left{
	padding: 10px;
	width: 300px;
	background: #fff;
	min-height: 300px;
	float: left;
}
.container .Content .center{
	width: 600px;
	
	min-height: 500px;
	float: left;
	padding:  10px;
}
.container .Content .right{
	padding:  10px;
	float: left;
	width: 300px;
	min-height: 400px;
	background: #eee;
}
.container .footer{
	clear: both;
	min-height: 200px;
	background: #666;
}
.Menu ul li:hover ul,.Menu ul li.active ul{
	display: block;
}
/* ul cap 2 */

.Menu ul ul{
	z-index: 9999;
	display: none;
	position: absolute;
	top: 100%;
	left: 0px;
	background: #aaa;
}
.Menu ul li{
	position: relative;
}
/* the a cap 2*/
.Menu ul li ul li a{
	min-width: 300px;
	background: var(--bg);
	text-align: left;
}
.Menu ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		display: flex;
	}
.Menu ul li{
	width: 50%;
}
.Menu ul li a{
	/* bỏ gạch Chân*/
	text-decoration: none;
	/*màu chữ */
	color: var(--colorbg);
	/* hiển thị bằng li */
	display: block;
	/*cho chữ ra giữa*/
	text-align: center;
	padding: 10px;
}
.Menu ul li a:hover,.Menu ul li.active>a{
	color: #fff;
	background: blue;
}
.Menu{
	background: var(--bg);
}
.LeftMenu ul{
		list-style-type:  none; 
		margin:  0px;
		padding:  0px
}
.LeftMenu ul li a{
	color:  #000;
	font-size:  16px;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	display: block;
	border-bottom: 1px dashed #aaa;
}
.LeftMenu ul li a:hover{
	color: #2d4b6a;	

}
.fa-right{
	float: right;
}
.LeftMenu ul li ul{
	display: none;
}

/*.LeftMenu ul li:hover ul{
	display: block;
}
.LeftMenu ul li:hover .fa-caret-up{
	display: none;
}
.LeftMenu ul li:hover .fa-caret-down{
	display: block;
}*/
.LeftMenu ul li .fa-caret-down{
display: none;
}
.formDangNhap input{
	padding: 7px;
	font-weight: bold;
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 0 0 4px #aaa;
	padding-left: 30px;
}

.formDangNhap button{
	padding: 7px 15px;
	/*padding: 5px 15px 5px 15px;*/
	box-shadow: 0 0 4px #aaa;	
	background: green;
	border: 0px;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	display: block;
	margin: auto;
	text-shadow: 1px 1px 2px #000;	
}
.formAddon{
	position: relative;
}
.formAddon .fa{
position: absolute;
top: 25px;
left: 10px;
color: #aaa;
}
.formSearch{
background: #fff;
border: 1px solid #aaa;
}
.formSearch input{
	padding: 7px;
	width: calc(100% - 37px) ;
	height: 32px;
	border: 0px;
}
.formSearch button{
	height: 32px;
	width: 32px;
	border: 0px; 
	background: #fff;
}
.ThongBao{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000a6;
	z-index: 999;
	
}
.ThongBao .NoiDungThongBao{

	width: 80%;
	margin: auto;
	margin-top: 100px;
}
.ThongBao .NoiDungThongBao img{
	max-width: 100%;
	margin: auto;
	display: block;
}
.BaiVietMoi{
	margin-top: 20px;
}
.BaiVietMoi ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.BaiVietMoi ul .imgContent{
	width: 30%;
}

.BaiVietMoi ul .imgContent img{
	width: 100%;
	height: 80px;
	margin-top: 2px;
}
.BaiVietMoi ul .titleContent{
	width: 70%;
	padding-left: 10px;
}
.BaiVietMoi ul .titleContent h3{
	margin:0;
	font-size: 14px;
	line-height: 16px;
	text-align: left;
	height: 48px;
	overflow: hidden;
	color: #000;

}
.BaiVietMoi ul .titleContent p{
	margin: 0px;
	font-size: 14px;
}
.BaiVietMoi ul .titleContent a{
	text-decoration: none;
}
.BaiVietMoi ul li{
display: flex;
border-bottom: 1px dashed #aaa;
padding-bottom: 5px;
padding-top: 5px;
}
.BaiVietMoi-title h2{
	border-bottom: 2px solid var(--bg);
	margin: 0px;
	margin-bottom: 10px;
}
.BaiVietMoi-title h2 span{
	background-color: var(--bg);
	padding: 5px 15px;
	font-size: 18px;
	display: inline-block;
	color: #fff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.BaiVietMoi ul .titleContent p .gia{
	color: red;
	font-size: 16px;
	font-weight: bold;
}
.BaiVietMoi ul .titleContent p .giaCu{
	color: #aaa;
	text-decoration: line-through;	
}
.QuangCaoTrai {
	margin-top: 10px;
}
.QuangCaoTrai img
{
	max-width: 100%;
	margin-bottom: 10px;
}

.TinHot{
	display: flex;
}
.TinHot-Trai,.TinHot-Phai{
	width: 50%;
}
.TinHot-Trai .TinTuc img{
	width: 100%;
}
.TinHot-Trai .TinTuc h2:hover{
	color: #444;
}
.TinHot-Trai .TinTuc h2{
	margin: 0px;
	color: #000;
	font-size: 20px;
	text-align: left;
	height: 60px;
	overflow: hidden;
	line-height: 20px;
	margin-top: 15px;
}
.TinHot-Trai .TinTuc p{
	margin: 0px;
	text-align: justify;
}
.TinHot-Phai ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.TinHot-Phai{
	padding-left: 15px;
}
.TinHot-Phai ul li a h3{
	margin: 0px;
	font-size: 16px;
	font-weight: normal;
	border-bottom: 1px dashed #aaa;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	margin-bottom: 10px;
}
.QuangCaoCenter img{
	max-width: 100%;
}
#ThongBaoDangNhap{
	color: red;
	font-size: 14px;
}

}
@media screen and (min-width: 601px) and (max-width: 980px){
	 
}
@media screen and (min-width: 981px) and (max-width: 1024px){
	 
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
	 
}
@media screen and (min-width: 1201px) and (max-width: 1500px){
	 
}
@media screen and (min-width: 1500px) and (max-width: 1500px){
	 
}